@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.App {
  text-align: center;
  display: flex;
  margin-left: 10%;
  margin-top: 12%;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  background: url("https://images.pexels.com/photos/2147029/pexels-photo-2147029.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.6rem;
  text-align: center;
}
